<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gliding Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- <link rel="icon" type="image/png" href="assets/glider.png"> -->
  </head>

  <body>
    <div class="container">
      <div class="signup">
        <form action="/signup" method="POST">
          <input class="form-field" id="client-entry" size="50" type="text" name="username" placeholder="your@email.com">
          <input class="form-field" id="client-entry" size="50" type="password" name="password" placeholder="keep it secret, keep it safe">
          <input class="form-field" type="submit" value="Signup">

          <% if flash.has?(:error) %>
            <p class="form-field form-field__error"><%= flash[:error] %></p>
          <% end %>
        </form>
      </div>
    </div>
  </body>
</html>

