<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div class="signup u-full-width">
        <form action="/signup" method="POST">
          <input class="form-field" id="client-entry" size="50" type="text" name="username" placeholder="your@email.com">
          <input class="form-field" id="client-entry" size="50" type="password" name="password" placeholder="keep it secret, keep it safe">
          <input class="form-field" type="submit" value="Signup">
        </form>
        <a class="login-button form-field button" href="/login">Log In</a>

        <% if flash.has?(:error) %>
          <p class="form-field form-field__error"><%= flash[:error] %></p>
        <% end %>
      </div>
    </div>
  </body>
</html>
